<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="POST" action="/">
        
        <!-- Input for adding a new username -->
        <input name="col.f1" placeholder="f1">
  
        <!-- Input for adding a new email -->
        <input name="col.f2" placeholder="f2">
    
        <button type="submit" name="tbl.tbl1" value="add">Submit</button>
    </form>
    <header><img src="" alt="Header Image"></header>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <section>
        <h3>things:</h3>
        <ul>
            <a href="page2.html">{{link}}</a>
            {{temp}}
            {{hello}}
            {{die}}
            {{stuff}}
        </ul>
    </section>
    <footer><img src="" alt="Banner"></footer>
</body>
</html>
