<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="POST" action="/">
        <!-- Input for adding a new username -->
        <input name="users.username_add" placeholder="Username">
  
        <!-- Input for adding a new email -->
        <input name="users.email_add" placeholder="Email">
  
        <!-- Input for removing a user by ID -->
        <input name="users.id_remove" placeholder="User ID" type="number">
  
        <button type="submit">Submit</button>
    </form>
    <header><img src="" alt="Header Image"></header>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <section>
        <h3>Donator Messages:</h3>
        <ul>
            <a href="page2.html">Page2</a>
        </ul>
    </section>
    <footer><img src="" alt="Banner"></footer>
</body>
</html>
